RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php d


php_value auto_prepend_file "/var/www/latam/ltm_v2/cr/bootstrap.php" #ruta absoluta en prod